.center {
    text-align: center;
}
.right {
	text-align: right;
}
.next {
    margin-top: 100px;
}
.section {
    background-color: lightblue;
}
table {
    border: 1px solid #eceeef;
}

.orange {
    color: orange;
}
.blue {
    color: blue;
}
.table td, .table th {
    padding: 2px;
}

body {
	margin-top: 40px;
}

ul {
	margin: 0;
}

.ideas-list {
    list-style-type: decimal;
}
.ideas-list .idea {
    margin: 20px;
}

p {
	text-align: justify;
}

.wrapper {
	border: 3px solid #4f9fcf;
    padding: 25px;
    margin-top: 45px;
}

h6 { 
    text-decoration: underline;
    margin-top: 50px;
}