.center {
    text-align: center;
}
.right {
	text-align: right;
}
.section {
    background-color: #4f9fcf;
}
table {
    border: 1px solid #eceeef;
}

.table td, .table th {
    padding: 2px;
}

body {
	margin-top: 40px;
}

ul {
	margin: 0;
}

p {
	text-align: justify;
}

.test-wrapper {
	border: 3px solid #4f9fcf;
    padding: 25px;
    margin-top: 45px;
}